body {
  background-color: pink
}

img {
  width: 300px;
}

.jumbotron {
  text-align: center;
}

h1 {
  color: red;
  font-weight: bold;
}

h2 {
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

.sidebar {
  width: 25%;
  float: left;
  background-color: lightblue;
  border: 2px solid red;
  padding: 4px;
}

.important {
  color: red;
  font-style: italic;
}

.column {
  width: 300px;
  float: left;
  padding: 4px;
}

.panel-title {
  font-size: 25px;
}
