body {
  background-color: pink
}

img {
  width: 300px;
}

.jumbotron {
  text-align: center;
}

h1 {
  color: red;
  font-weight: bold;
}

.sidebar {
  width: 25%;
  float: left;
  background-color: lightblue;
}

.important {
  color: red;
  font-style: italic;
}
